doctype html
html(lang='en')
    head
        title 404
        style
            include index.css
    body
        div(class='main__div')
            img(src="../public/images/error1.jpg" alt='Error 404')
            br
            br
            form(class='form', action='/sort', method="")
                div.actions
                    input(type="submit", value="Main website", class="login")