body{
    background: #C5DDEB;
    font-family: "Roboto", sans-serif;
}
.main__div{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #e4e4e4;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding: 2% 2%;
}
.form{
    width: 60%;
    margin: 0 auto;
}
.array{
    outline: none;
}
.login{
    width: 45%;
    font-size: 16px;
}
.error-class{
    color:red;
}
.success-class{
    color:green;
}
.output-list{
    list-style: none;
}