doctype html
html(lang='en')
  head
    title Sort
    style
      include index.css
  body
    div(class='main__div')
      h2 Sort
      p(class="error-class")= error
      form(class='form', action='/sort', method="post")
        div.input
            span.label Array &nbsp; &nbsp;
            input(type="text", name="array", class="array", placeholder="eg: [1,2,3,....]", required)
        br
        br
        div.actions
            input(type="submit", value="Sort", class="login")
        br
        div(class="success-class")
          if output
            ul  
            each item in output
              li(class='output-list') #{item}